* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* border: 3px solid #040403; */
  justify-content: center;
  align-items: center;
  background-color: #fffffc;
  overflow: hidden;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #040403;
  color: #fffffc;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.brand-name {
  font-size: 50px;
}

.menu {
  width: 60vw;
}
.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.menu > ul > li {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  font-size: 25px;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fffffc;
  list-style: none;
}
.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
}

.alert {
  margin-bottom: 5vh;
  font-size: 20px;
  color: red;
}
.brand-name {
  font-size: 50px;
}
.main {
  width: 90vw;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 40vw;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container > input {
  width: 80%;
  height: 10%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
}
.form-container > button {
  width: 80%;
  height: 10%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #040403;
  color: white;
  cursor: pointer;
}
.form-container > button:hover {
  background-color: white;
  color: #040403;
}
.register-link {
  font-size: 2rem;
}
.register-link > a {
  text-decoration: none;
  color: #0b3591;
}

.brand {
  margin: 5vh;
  width: 40vw;
  height: 90%;
  /* border: 2px solid green; */
}
.brand-img {
  width: 90%;
  height: 80vh;
  object-fit: cover;
}
