* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #040403;
  color: #fffffc;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.brand-name {
  font-size: 50px;
}

.menu {
  width: 70vw;
}
.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.menu > ul > li {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  font-size: 25px;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fffffc;
  list-style: none;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
}

.logout {
  cursor: pointer;
}
.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 95vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid green; */
  margin-top: 5vh;
}

.customerDetails {
  width: 20%;
  height: 20%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* margin: 5vw; */
  /* gap: 8vh; */
}
.userName {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1vh;
}
.email {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 1vh;
}

/* Apply some basic styling to the table */
.order-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

/* Style the table header */
.order-table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
}

/* Style the table data cells */
.order-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.orderDetails {
  width: 70%;
  height: 70%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #040403;
  border-radius: 20px;
  margin: 5vw;
  gap: 8vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.orderStats {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
  gap: 20px;
  font-size: 50px;
  font-weight: bold;
}
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 30px;
  width: 100%;
}
.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 30px;
  width: 100%;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1vh;
  text-decoration: underline;
}
.product-desc {
  width: 20vw;
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 1vh;
}

.details {
  display: flex;
  gap: 40px;
}

.price {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #040403;
  border-radius: 10px;
  font-size: 30px;
  color: #040403;
}
.quntity {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  background-color: #040403;
  color: #fffffc;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 15%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #040403;
  color: white;
  cursor: pointer;
}
.total:hover {
  background-color: white;
  color: #040403;
}
